@font-face {
    font-family: 'Monocraft';
    src: url('https://raw.githubusercontent.com/IdreesInc/Monocraft/releases/download/v3.0/Monocraft.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Monocraft', Arial, sans-serif; /* Применение шрифта Monocraft ко всему тексту */
    background-color: #303841;
}

span, h1 {
    color: #FFFFFF;
    font-family: 'Monocraft', Arial, sans-serif; /* Применение шрифта Monocraft к span и h1 */
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    font-smooth: none;
}

.container {
    text-align: center;
}

#coin {
    width: 192px;
    cursor: pointer;
    transition: transform 0.1s, scale 0.1s;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#coin:active {
    transform: scale(0.96) rotateX(30deg) rotateZ(3deg);
}

#login-button, #avatar {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.coin-rate {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Monocraft', Arial, sans-serif; /* Применение шрифта Monocraft к элементу coin-rate */
    z-index: 1000; /* Убедитесь, что элемент находится поверх остальных */
}